<%= form_for(event) do |f| %>

  <div class="field">
    <%= f.label "Akteur" %>
    <%= f.collection_select(:group_id, @groups, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label "Aktion" %>
    <%= f.collection_select(:option_id, @options, :id, :name) %>
  </div>

  <div class="field" id="minepoints" data-target="form.minepoints" style="display:none;">
    <%= f.label "Punkte investiert" %>
    <%= f.select :points_set, (0..5000).step(50).to_a %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const optionSelect = document.getElementById('event_option_id'); // Replace 'event_option_id' with the actual ID
  const customFieldContainer = document.getElementById('minepoints');

  optionSelect.addEventListener('change', () => {
    if (optionSelect.value === 'Hat Mine gesetzt') {
      customFieldContainer.style.display = 'block';
    } else {
      customFieldContainer.style.display = 'none';
    }
  });
});
</script>